# **Создание профилей пользователей, определение методов воздействия на определяющих качество жизни факторы**

In [1]:
import pandas as pd 
import numpy as np 
from datetime import datetime

# выбор формата отображения таблиц
pd.set_option('display.float_format', '{:.1f}'.format) 
pd.set_option('display.max_colwidth', None)

## Цифровые профили пользователей

In [2]:
#загрузка файлов 
quality_life=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/profiles_cont.csv', sep=';')
profiles=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/profiles.csv', sep=';')

In [3]:
# просмотр общей информации, вывод датафрейма с профилями
profiles.info()
profiles

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   name    10 non-null     object
 2   age     10 non-null     int64
 3   sex     10 non-null     object
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

   id      name  age    sex
0   1  Viktoria   30  women
1   2      Egor   35    men
2   3    Dariya   21  women
3   4       Max   45    men
4   5    Andrey   50    men
5   6      Anna   23  women
6   7   Nikolay   37    men
7   8   Tatiana   40  women
8   9   Nadejda   45  women
9  10      Igor   33    men

В датасете profiles хранится общая информация о пользователях.

In [4]:
# просмотр общей информации, вывод датафрейма с оценкой качества жизни
quality_life.info()
quality_life.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10 non-null     int64
 1   date           10 non-null     object
 2   welfare        10 non-null     int64
 3   income         10 non-null     int64
 4   home           10 non-null     int64
 5   eco            10 non-null     int64
 6   diet           10 non-null     int64
 7   count_food     10 non-null     int64
 8   family         10 non-null     int64
 9   sex            10 non-null     int64
 10  relative       10 non-null     int64
 11  sleep          10 non-null     int64
 12  sleep_quality  10 non-null     int64
 13  weekends       10 non-null     int64
 14  move           10 non-null     int64
 15  move_count     10 non-null     int64
dtypes: int64(15), object(1)
memory usage: 1.4+ KB

,id,date,welfare,income,home,eco,diet,count_food,family,sex,relative,sleep,sleep_quality,weekends,move,move_count
0,1,20.06.2022,50,60,70,80,50,100,70,70,50,60,70,80,50,20
1,2,20.06.2022,60,70,80,90,60,100,80,60,60,70,80,90,60,30
2,3,20.06.2022,90,80,70,60,60,90,50,50,50,60,70,50,60,40
3,4,20.06.2022,50,60,90,60,60,90,60,70,60,60,80,60,40,40
4,5,20.06.2022,80,70,60,60,60,100,60,80,60,60,70,90,50,50

В датасете quality_life хранятся результаты опроса пользователей (оценка качества различных сфер жизни). В поле date необходимо изменить тип данных.

In [5]:
quality_life['date'] = pd.to_datetime(quality_life['date'])
quality_life.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10 non-null     int64
 1   date           10 non-null     datetime64[ns]
 2   welfare        10 non-null     int64
 3   income         10 non-null     int64
 4   home           10 non-null     int64
 5   eco            10 non-null     int64
 6   diet           10 non-null     int64
 7   count_food     10 non-null     int64
 8   family         10 non-null     int64
 9   sex            10 non-null     int64
 10  relative       10 non-null     int64
 11  sleep          10 non-null     int64
 12  sleep_quality  10 non-null     int64
 13  weekends       10 non-null     int64
 14  move           10 non-null     int64
 15  move_count     10 non-null     int64
dtypes: datetime64[ns](1), int64(15)
memory usage: 1.4 KB

Данные приведены к нужному типу, посчитаем среднюю оценку для каждой сферы жизни.

In [6]:
# добавляем нужные поля со средней оценкой
quality_life['material']=(quality_life['welfare']+quality_life['income'])/2
quality_life['home_quality']=(quality_life['home']+quality_life['eco'])/2
quality_life['food']=(quality_life['diet']+quality_life['count_food'])/2
quality_life['relation']=(quality_life['sex']+quality_life['relative']+quality_life['family'])/3
quality_life['rest']=(quality_life['sleep']+quality_life['sleep_quality']+quality_life['weekends'])/3
quality_life['active']=(quality_life['move']+quality_life['move_count'])/2
quality_life.head()

,id,date,welfare,income,home,eco,diet,count_food,family,sex,...,sleep_quality,weekends,move,move_count,material,home_quality,food,relation,rest,active
0,1,2022-06-20,50,60,70,80,50,100,70,70,...,70,80,50,20,55.0,75.0,75.0,63.3,70.0,35.0
1,2,2022-06-20,60,70,80,90,60,100,80,60,...,80,90,60,30,65.0,85.0,80.0,66.7,80.0,45.0
2,3,2022-06-20,90,80,70,60,60,90,50,50,...,70,50,60,40,85.0,65.0,75.0,50.0,60.0,50.0
3,4,2022-06-20,50,60,90,60,60,90,60,70,...,80,60,40,40,55.0,75.0,75.0,63.3,66.7,40.0
4,5,2022-06-20,80,70,60,60,60,100,60,80,...,70,90,50,50,75.0,60.0,80.0,66.7,73.3,50.0

Объединяем общий профиль с оценкой качества жизни.

In [7]:
quality_life_profiles=pd.merge(profiles, quality_life[['id','date','material', 'home_quality','food', 'relation', 'rest', 'active']])
quality_life_profiles.head()

,id,name,age,sex,date,material,home_quality,food,relation,rest,active
0,1,Viktoria,30,women,2022-06-20,55.0,75.0,75.0,63.3,70.0,35.0
1,2,Egor,35,men,2022-06-20,65.0,85.0,80.0,66.7,80.0,45.0
2,3,Dariya,21,women,2022-06-20,85.0,65.0,75.0,50.0,60.0,50.0
3,4,Max,45,men,2022-06-20,55.0,75.0,75.0,63.3,66.7,40.0
4,5,Andrey,50,men,2022-06-20,75.0,60.0,80.0,66.7,73.3,50.0

In [8]:
# ищем сферу жизни, где минимальное среднее значение
def min(row):
  m=row[['material','home_quality','food', 'relation', 'rest','active']].min()
  return m
    
quality_life_profiles['min']=quality_life_profiles.apply(min, axis=1)

#проверка работы функции
quality_life_profiles.head()

,id,name,age,sex,date,material,home_quality,food,relation,rest,active,min
0,1,Viktoria,30,women,2022-06-20,55.0,75.0,75.0,63.3,70.0,35.0,35.0
1,2,Egor,35,men,2022-06-20,65.0,85.0,80.0,66.7,80.0,45.0,45.0
2,3,Dariya,21,women,2022-06-20,85.0,65.0,75.0,50.0,60.0,50.0,50.0
3,4,Max,45,men,2022-06-20,55.0,75.0,75.0,63.3,66.7,40.0,40.0
4,5,Andrey,50,men,2022-06-20,75.0,60.0,80.0,66.7,73.3,50.0,50.0

In [9]:
# в отдельное поле записываем наименование сферы жизни с минимальным средним показателем (не смогла придумать как сделать более корректно)
def name(row):
  if row['material']==row['min']:
    return 'material'
  else: 
    if row['home_quality']==row['min']:
      return 'home_quality'
    else: 
      if row['food']==row['min']:
        return 'food'
      else:
        if row['relation']==row['min']:
          return 'relation'
        else:
          if row['rest']==row['min']:
            return 'rest'
          else:
            if row['active']==row['min']:
              return 'active'

quality_life_profiles['min_name']=quality_life_profiles.apply(name, axis=1)

#проверка работы функции
quality_life_profiles.head()

,id,name,age,sex,date,material,home_quality,food,relation,rest,active,min,min_name
0,1,Viktoria,30,women,2022-06-20,55.0,75.0,75.0,63.3,70.0,35.0,35.0,active
1,2,Egor,35,men,2022-06-20,65.0,85.0,80.0,66.7,80.0,45.0,45.0,active
2,3,Dariya,21,women,2022-06-20,85.0,65.0,75.0,50.0,60.0,50.0,50.0,relation
3,4,Max,45,men,2022-06-20,55.0,75.0,75.0,63.3,66.7,40.0,40.0,active
4,5,Andrey,50,men,2022-06-20,75.0,60.0,80.0,66.7,73.3,50.0,50.0,active

Профили пользователей собрали, нашли сферу жизни, в которой по оценке пользователя у него "просадка".

## Факторы, определяющие качество жизни и методы воздействия на них

Сформируем базу данных факторов, определяющих качество жизни и методов воздействия на них.

In [10]:
# загрузим датафрейм, показыващий связь сфер качества жизни и методов воздействия на факторы, определеяющие качество жизни
method=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/method.csv', sep=';')
method

      name_method                         method_of_correction areas_of_life
0            diet                 Нормализация рациона питания          food
1          active           Нормализация физической активности        active
2          active           Нормализация физической активности        health
3          active           Нормализация физической активности    efficiency
4          active           Нормализация физической активности     emotional
5          psycho  Нормализация психо-эмоционального состояния     emotional
6           sleep   Нормализация сна и окружающей среды жилища          rest
7           sleep   Нормализация сна и окружающей среды жилища     emotional
8  work and rest            Нормализация режима труда и отдыха          rest
9  work and rest            Нормализация режима труда и отдыха    efficiency

In [11]:
# загрузим датафрейм, показыващий связь сфер качества жизни и методов воздействия на факторы, определеяющие качество жизни
factors=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/factors.csv', sep=';')
factors.head()

                             name_factor name_method
0                       Качество питания        diet
1                           Качество сна        diet
2                           Качество сна      active
3                           Качество сна       sleep
4  Уровень психической работоспособности      psycho

In [12]:
# объединим данные, посмотрим какие факторы могут повлиять на сферы жизни
method_factors=pd.merge(method,factors)
method_factors=method_factors[['areas_of_life','method_of_correction','name_factor']]
# для примера выведем факторы, определяющие качество жизни в сфере "Физическая активность"
method_factors.query('areas_of_life=="active"')

,areas_of_life,method_of_correction,name_factor
7,active,Нормализация физической активности,Качество сна
8,active,Нормализация физической активности,Уровень физической работоспособности
9,active,Нормализация физической активности,Адаптационный потенциал
10,active,Нормализация физической активности,Биологический возраст
11,active,Нормализация физической активности,Уровень здоровья

Определим для каждого пользователя факторы, которые могут повлиять на улучшение качества его жизни:

In [13]:
# объединим данные профиля и факторов, определяющих качество жизни
profiles_new=quality_life_profiles.merge(method_factors, left_on='min_name', right_on='areas_of_life')
profiles_new=profiles_new.drop(columns=['date', 'home_quality','food', 'material', 'relation','rest', 'active','areas_of_life'])
profiles_new.head()

,id,name,age,sex,min,min_name,method_of_correction,name_factor
0,1,Viktoria,30,women,35.0,active,Нормализация физической активности,Качество сна
1,1,Viktoria,30,women,35.0,active,Нормализация физической активности,Уровень физической работоспособности
2,1,Viktoria,30,women,35.0,active,Нормализация физической активности,Адаптационный потенциал
3,1,Viktoria,30,women,35.0,active,Нормализация физической активности,Биологический возраст
4,1,Viktoria,30,women,35.0,active,Нормализация физической активности,Уровень здоровья